<div class="flex">
    <div class="flex flex-col" [style.marginLeft.px]="sidebarVisible ? 0 : 64">
        <app-sidebar *ngIf="sidebarVisible"></app-sidebar>
    </div>
    <div class="justify-center lg:mt-24 lg:ml-80 lg:mr-12 md:mt-24 md:ml-12 md:mr-12 box-fl container">
        <ng-container *ngIf="employeeRole === 'manager'">
            <div class="bg-white p-6 rounded shadow">
                <h1 class="text-2xl font-bold mb-4">Formulario de Incidencias</h1>

                <!-- Tipo de Reporte: Alta Empleado / Solicitud Material -->
                <div class="mb-4">
                    <label class="block mb-2 font-bold">Tipo de Incidencia:</label>
                    <div class="flex items-center">
                        <input type="checkbox" class="mr-2 ml-4" id="altaEmpleado" [(ngModel)]="altaEmpleado"
                            (change)="toggleCheckbox('altaEmpleado')">
                        <label for="altaEmpleado" class="mr-4">Alta Empleado</label>
                        <input type="checkbox" class="mr-2" id="bajaEmpleado" [(ngModel)]="bajaEmpleado"
                            (change)="toggleCheckbox('bajaEmpleado')">
                        <label for="bajaEmpleado" class="mr-4">Baja Empleado</label>
                        <input type="checkbox" class="mr-2" id="solicitudMaterial" [(ngModel)]="solicitudMaterial"
                            (change)="toggleCheckbox('solicitudMaterial')">
                        <label for="solicitudMaterial">Solicitud Material</label>
                        <input type="checkbox" class="ml-2" id="bajaMaterial" [(ngModel)]="bajaMaterial"
                            (change)="toggleCheckbox('bajaMaterial')">
                        <label for="bajaMaterial" class="ml-2">Baja Material</label>
                    </div>
                </div>

                <div *ngIf="solicitudMaterial" class="mb-4">
                    <label class="block mb-2 font-bold">Categorías:</label>
                    <div class="flex flex-wrap">
                        <div *ngFor="let categoria of categories" class="mr-4 mb-2">
                            <input type="checkbox" class="ml-4" [id]="categoria.id" [value]="categoria.id"
                                [(ngModel)]="categoriasSeleccionadas[categoria.id]"
                                (ngModelChange)="onCategoriaChange()">
                            <label [for]="categoria.id" class="ml-2">{{ categoria.name }}</label>
                        </div>
                    </div>
                </div>

                <!-- Prioridad del Reporte -->
                <div class="mb-4">
                    <label class="block mb-2 font-bold">Prioridad de la Incidencia</label>
                    <div class="flex items-center">
                        <input type="checkbox" class="mr-2 ml-4" id="prioridadLow" [(ngModel)]="prioridadLow"
                            (change)="togglePriority('prioridadLow')">
                        <label for="prioridadLow" class="mr-4" [class.text-green-500]="prioridadLow">Low</label>
                        <input type="checkbox" class="mr-2" id="prioridadMedium" [(ngModel)]="prioridadMedium"
                            (change)="togglePriority('prioridadMedium')">
                        <label for="prioridadMedium" class="mr-4"
                            [class.text-yellow-500]="prioridadMedium">Medium</label>
                        <input type="checkbox" class="mr-2" id="prioridadHigh" [(ngModel)]="prioridadHigh"
                            (change)="togglePriority('prioridadHigh')">
                        <label for="prioridadHigh" [class.text-red-500]="prioridadHigh">High</label>
                    </div>
                </div>

                <!-- Campo de Texto -->
                <div class="mb-4">
                    <label class="block mb-2 font-bold">{{ (altaEmpleado || bajaEmpleado) ? 'Datos del Empleado' :
                        'Datos del Material' }}:</label>
                    <textarea class="w-full h-48 px-3 py-2 border rounded w-1/2 ml-4"
                        placeholder="Ingrese los detalles aquí"
                        [(ngModel)]="petition">{{ formatSelectedCategories() }}</textarea>
                </div>

                <!-- Botón Enviar -->
                <div>
                    <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
                        (click)="agregarReporte()">Enviar</button>
                </div>
                <div *ngIf="envioExitoso" class="text-green-800 mt-2 rounded">
                    {{ mensajeNotificacion }}
                </div>
            </div>
        </ng-container>
        <div *ngIf="employeeRole === 'admin'" class="bg-gray-100 p-6 rounded shadow">
            <h1 class="text-2xl font-bold mb-4">Incidencias recibidas</h1>
            <div class="grid grid-cols-4 gap-4">
                <!-- Iterar sobre los reportes -->
                <ng-container *ngFor="let reporte of reportes">
                    <div [ngClass]="{
                        'bg-green-200': reporte.prioridad === 'Low',
                        'bg-yellow-200': reporte.prioridad === 'Medium',
                        'bg-red-200': reporte.prioridad === 'High'
                    }" class="rounded border border-gray-300 p-2 relative">
                        <div>ID: {{ reporte.id }}</div>
                        <div>Tipo: {{ reporte.type }}</div>
                        <div>Sucursal: {{ this.obtenerNombreSucursal(reporte.sucursalid) }}</div>
                        <div>Prioridad: {{ reporte.prioridad }}</div>
                        <button (click)="mostrarDetalle(reporte)" class="absolute top-0 right-0 mt-2 mr-2">
                            <span class="text-blue-900 opacity-75 rounded">Ver detalles</span>
                        </button>
                    </div>
                </ng-container>
            </div>
            <!-- Modal para mostrar los detalles del reporte seleccionado -->
            <div *ngIf="reporteSeleccionado" class="fixed z-10 inset-0 overflow-y-auto">
                <div class="flex items-center justify-center min-h-screen px-4">
                    <div class="bg-white rounded-lg overflow-hidden shadow-xl sm:max-w-lg sm:w-full relative">
                        <!-- Cambiado a relative -->

                        <div class="px-4 py-2 bg-gray-200">
                            <h3 class="text-lg font-bold">Detalles de la incidencia</h3>
                        </div>
                        <div class="p-4">

                            <!-- Ajustado mt-16 a mt-18 -->
                            <p class="flex items-center justify-between"> <!-- Agregado -->
                                <span>ID: {{ reporteSeleccionado.id }}</span> <!-- Agregado -->
                                <span class="ml-auto">
                                    <input type="checkbox" id="aceptar" name="aceptar" class="mr-2"
                                        (change)="reporteSeleccionado?.id && cambiarEstadoReporte(reporteSeleccionado.id,'aceptado', $event)">
                                    <label for="aceptar" class="mr-6">Aceptar</label>
                                    <input type="checkbox" id="rechazar" name="rechazar" class="mr-2"
                                        (change)="reporteSeleccionado?.id && cambiarEstadoReporte(reporteSeleccionado.id,'rechazado', $event)"><!-- Llama a la función cambiarEstadoReporte con el estado 'rechazado' -->
                                    <label for="rechazar" class="mr-6">Rechazar</label>
                                </span>
                            </p>
                            <p class="mb-4">Tipo: {{ reporteSeleccionado.type }}</p>
                            <p>
                                <!-- Utilizar ngFor para mostrar dinámicamente los campos de la solicitud -->
                                <ng-container *ngFor="let linea of reporteSeleccionado.solicitud.split('\n')">
                                    <p>{{ linea }}</p>
                                </ng-container>
                            </p>
                            <div class="flex justify-end">
                                <!-- Botón de cerrar -->
                                <button (click)="cerrarModal()"
                                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2">Cerrar</button>
                                <button *ngIf="reporteSeleccionado.type === 'Alta Empleado'"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                                    (click)="mostrarModal()">Agregar Empleado</button>
                                <button *ngIf="reporteSeleccionado.type === 'Solicitud Material'"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                                    (click)="mostrarModal_Material()">Asignar Material</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="mostrarModalAgregar" class="fixed z-10 inset-0 overflow-y-auto ">
                <div class="flex items-center justify-end min-h-screen px-4 mr-8">
                    <!-- Contenido del modal -->
                    <div class="bg-white rounded-lg overflow-hidden shadow-xl sm:max-w-lg sm:w-full ">
                        <!-- Encabezado del modal -->
                        <div class="px-4 py-2 bg-gray-200">
                            <h3 class="text-lg font-bold">Agregar Empleado</h3>
                        </div>
                        <!-- Cuerpo del modal (aquí va el formulario) -->
                        <div class="p-4">
                            <!-- Formulario aquí -->
                            <form [formGroup]="formularioEmpleado" (submit)="agregarEmpleado()">
                                <div class="mb-4">
                                    <label for="nombre" class="block text-gray-700">Nombre</label>
                                    <input formControlName="nombre" type="text" id="nombre" name="nombre"
                                        class="form-input mt-1 block w-full" placeholder="Ingrese el nombre" required>
                                </div>
                                <div class="mb-4">
                                    <label for="apellido" class="block text-gray-700">Apellido</label>
                                    <input formControlName="apellido" type="text" id="apellido" name="apellido"
                                        class="form-input mt-1 block w-full" placeholder="Ingrese el apellido" required>
                                </div>
                                <div class="mb-4">
                                    <label for="email" class="block text-gray-700">Email</label>
                                    <input formControlName="email" type="email" id="email" name="email"
                                        class="form-input mt-1 block w-full" placeholder="Ingrese el correo electrónico"
                                        required>
                                </div>
                                <div class="mb-4">
                                    <label for="password" class="block text-gray-700">Contraseña</label>
                                    <input formControlName="password" type="password" id="password" name="password"
                                        class="form-input mt-1 block w-full" placeholder="Ingrese la contraseña"
                                        required>
                                </div>
                                <div class="mb-4">
                                    <label for="telefonoMovil" class="block text-gray-700">Teléfono Móvil</label>
                                    <input formControlName="telefonoMovil" type="tel" id="telefonoMovil"
                                        name="telefonoMovil" class="form-input mt-1 block w-full"
                                        placeholder="Ingrese el teléfono móvil">
                                </div>
                                <div class="mb-4">
                                    <label for="departamento" class="block text-gray-700">Departamento</label>
                                    <select formControlName="departamento" id="departamento" name="departamento"
                                        class="form-select mt-1 block w-full" required>
                                        <option *ngFor="let dept of departamentos" [value]="dept.id">{{ dept.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="sucursal" class="block text-gray-700">Sucursal</label>
                                    <select formControlName="sucursal" id="sucursal" name="sucursal"
                                        class="form-select mt-1 block w-full" required>
                                        <option *ngFor="let suc of sucursales" [value]="suc.id">{{ suc.name }}</option>
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="rol" class="block text-gray-700">Rol</label>
                                    <select formControlName="rol" id="rol" name="rol"
                                        class="form-select mt-1 block w-full" required>
                                        <option value="1">Administrador</option>
                                        <option value="2">Responsable</option>
                                        <option value="3">Empleado</option>
                                    </select>
                                </div>
                                <div class="flex justify-end">
                                    <button type="submit"
                                        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2">Guardar</button>
                                    <button (click)="cerrarModal_Agregar()"
                                        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="mostrarModalMaterial" class="fixed z-10 inset-0 overflow-y-auto ">
                <div class="flex items-center justify-end min-h-screen px-4 mr-8">
                    <!-- Contenido del modal -->
                    <div class="bg-white rounded-lg overflow-hidden shadow-xl sm:max-w-lg sm:w-full">
                        <!-- Encabezado del modal -->
                        <div class="px-4 py-2 bg-gray-200">
                            <h3 class="text-lg font-bold">Asignar Material a Empleados</h3>
                        </div>
                        <!-- Cuerpo del modal -->
                        <div class="p-4">
                            <form [formGroup]="formularioEmpleado" (submit)="agregarEmpleado()">
                            <!-- Campo de búsqueda de empleados -->
                            <div class="mb-4">
                                <label for="buscarEmpleado" class="block text-gray-700">Buscar Empleado</label>
                                <input type="text" id="buscarEmpleado" name="buscarEmpleado"
                                    class="form-input mt-1 block w-full" placeholder="Ingrese el nombre del empleado">
                            </div>
                                <!-- Select de materiales por categoría -->
                                <div class="mb-4">
                                    <label class="block text-gray-700">Categoría de Material</label>
                                    <div class="overflow-x-auto">
                                        <table class="table-auto">
                                            <tbody>
                                                <div class="mt-4">
                                                    <tr *ngFor="let categoria of categories" class="mb-4">
                                                        <td class="pr-4">{{ categoria.name }}:</td>
                                                        <td>
                                                            <select class="ml-5 pr-4 mb-4"
                                                                (change)="onChangeCategoria(categoria.id)">
                                                                <option value="">Seleccionar material</option>
                                                                <option
                                                                    *ngFor="let material of detallesMaterial[categoria.id]"
                                                                    [value]="material.id">
                                                                    {{ material.name }}
                                                                </option>

                                                            </select>
                                                        </td>
                                                    </tr>
                                                </div>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Botones -->
                                <div class="flex justify-end">
                                    <button type="submit"
                                        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2">Guardar</button>
                                    <button (click)="cerrarModal_Material()"
                                        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>