<div class="login-wrap cover">
    <div class="container-login">
        <p class="text-center" style="font-size: 80px;">
            <img src="../../../assets/img/logo_png.png" alt="Logo" style="width: 100px; height: 100px;">
        </p>
        <p class="text-center text-condensedLight">Change Password</p>
        <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
            <div class="mdl-textfield mdl-js-textfield custom-textfield">
              <label for="newPassword">New Password</label>
                <input class="mdl-textfield__input" type="password" id="newPassword" formControlName="newPassword" appPasswordStrength>

                <!-- Control de errores -->
                <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['required'] && changePasswordForm.get('newPassword')?.touched"
                    class="text-red-800">
                    This field cannot be empty.
                </div>
          </div>
          <div class="mdl-textfield mdl-js-textfield custom-textfield">
            <label  for="confirmPassword">Confirm Password</label>
              <input class="mdl-textfield__input" type="password" id="confirmPassword" formControlName="confirmPassword">

              <!-- Control de errores -->
              <div *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required'] && changePasswordForm.get('confirmPassword')?.touched"
                  class="text-red-800">
                  This field cannot be empty.
              </div>
              <div *ngIf="passwordsMatchError" class="text-red-800">
                  Passwords do not match.
              </div>
          </div>
          <br>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Change Password
          </button>
          <!-- Mensajes de error específicos de la API -->
          <div *ngIf="errorMessage" class="text-red-800">{{ errorMessage }}</div>
      </form>
  </div>
</div>

