.box-fl{
    width: calc(100%);
    
  }
/* .mensaje_exitoso {
    color: green;
}

.mensaje_error {
    color: rgb(241, 99, 99);
    font-size: 15px;
} */

.fade-in-out {
    animation: fadeInOut 2s ease forwards;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }