<div class="flex">
  <app-sidebar></app-sidebar>
  <div
    class="justify-center lg:mt-24 lg:ml-80 lg:mr-12 md:mt-24 md:ml-12 md:mr-12 sm:mt-24 sm:ml-12 sm:mr-12 mt-24 ml-12 mr-12 box-fl container">
    <div class="fixed top-0 left-0 w-full h-full flex justify-center items-center" *ngIf="cargaDatos">
      <div role="status" class="flex flex-col items-center">
        <span class="font-bold mt-2">Cargando..</span>
      </div>
    </div>
    <div *ngIf="userRole === '1'">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8"> <!-- tabla 1 -->
        <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm md:col-span-2 lg:col-span-2">
          <div class="bg-blue-50 px-6 py-4">
            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50 text-center">Totales de Materiales por
              Sucursal</h3>
          </div>
          <div class="overflow-x-auto">
            <table class="w-full text-sm text-gray-700 dark:text-gray-400">
              <thead class="bg-blue-100">
                <tr>
                  <th>Sucursal</th>
                  <th *ngFor="let categoria of categories" class="hidden lg:table-cell">{{ categoria.name }}</th>
                  <th>Total</th> <!-- Nueva columna para mostrar el total de materiales -->
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let sucursal of totales | keyvalue">
                  <tr class="odd:bg-blue-50 even:bg-blue-200">
                    <td class="px-6 py-4 whitespace-nowrap text-center">{{ sucursal.key }}</td>
                    <td *ngFor="let categoria of categories" class="px-6 py-4 text-center hidden lg:table-cell">
                      {{ sucursal.value[categoria.name] || 0 }}
                    </td>
                    <td class="px-6 py-4 text-center"> <!-- Celda para mostrar el total -->
                      {{ calcularTotalSucursal(sucursal.value) }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Tabla 2  -->
        <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm md:col-span-1 lg:col-span-1">
          <div class="bg-blue-50 px-6 py-4">
            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50 text-center">Cantidad de Empleados por
              Sucursal</h3>
          </div>
          <div class="overflow-x-auto">
            <table class="w-full text-sm text-gray-700 dark:text-gray-400">
              <thead class="bg-blue-100 hidden md:table-header-group">
                <tr>
                  <th>Sucursal</th>
                  <th>Total de Empleados</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of empleadosPorSucursal">
                  <tr class="odd:bg-blue-50 even:bg-blue-200">
                    <td class="px-6 py-4 whitespace-nowrap text-center">{{ data.name }}</td>
                    <td class="px-6 py-4 text-center">{{ data.employee_count }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Tabla 3 - Reportes -->
      <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm mt-4">
        <div class="bg-blue-50 px-6 py-4">
          <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50 text-center">Incidencias</h3>
        </div>
        <div class="overflow-x-auto">
          <table class="w-full text-sm text-gray-700 dark:text-gray-400">
            <thead class="bg-blue-100">
              <tr>
                <th class="px-6 py-3 text-left">Id</th>
                <th class="px-6 py-3 text-left">Descripción</th>
                <th class="px-6 py-3 text-left">Prioridad</th>
                <th class="px-6 py-3 text-left">Estado</th>
                <th class="px-6 py-3 text-left">Tipo</th>
                <th class="px-6 py-3 text-left">Usuario</th>
              </tr>
            </thead>
            <tbody *ngIf="incidencesPending && incidencesPending.length > 0; else noIncidencias">
              <tr *ngFor="let incidence of incidencesPending" class="odd:bg-blue-50 even:bg-blue-200">
                <td class="px-6 py-4 whitespace-nowrap">{{ incidence.id }}</td>
                <td class="px-6 py-4">{{ incidence.petition }}</td>
                <td [ngClass]="{
                                        'text-yellow-600 dark:text-yellow-400': incidence.priority === 'Medium',
                                        'text-red-500 dark:text-red-300': incidence.priority === 'High',
                                        'text-green-500 dark:text-green-300': incidence.priority === 'Low'
                                    }" class="px-6 py-4">{{ incidence.priority }}</td>
                <td class="px-6 py-4">{{ incidence.state }}</td>
                <td class="px-6 py-4">{{ incidence.type }}</td>
                <td class="px-6 py-4">{{ incidence.employee?.name }} {{incidence.employee?.last_name}}</td>
              </tr>
            </tbody>
            <ng-template #noIncidencias>
              <tr>
                <td colspan="6" class="px-6 py-4 text-center">No hay incidencias</td>
              </tr>
            </ng-template>
          </table>
        </div>
      </div>
      <br>
    </div>
    <div *ngIf="userRole === '2'" class="mb-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Columna 1: Información del empleado -->
        <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm">
          <div class="bg-blue-50 px-6 py-4">
            <h3 class="font-semibold text-lg text-gray-900 dark:text-gray-50 text-center">Información del
              Empleado</h3>
          </div>
          <div class="p-6"> <!-- Aumentado el padding -->
            <p class="text-lg"><strong>Nombre:</strong> {{ loggedInUser?.name }}</p>
            <!-- Aumentado el tamaño del texto -->
            <p class="text-lg"><strong>Apellido:</strong> {{ loggedInUser?.last_name }}</p>
            <!-- Aumentado el tamaño del texto -->
            <p class="text-lg"><strong>Email:</strong> {{ loggedInUser?.email }}</p>
            <!-- Aumentado el tamaño del texto -->
            <p class="text-lg"><strong>Número de teléfono:</strong> {{ loggedInUser?.phone_number }}</p>
            <!-- Aumentado el tamaño del texto -->
          </div>
          <div class="bg-blue-50 px-6 py-2 ">
            <h3 class="font-semibold text-lg text-gray-900 dark:text-gray-50 text-center">Información de
              Stock</h3>
          </div>
          <div class="message px-6 py-4 ">

          </div>
        </div>

        <!-- Columna 2: Tabla de reportes -->
        <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm">
          <div class="bg-blue-50 px-6 py-4">
            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50 text-center">Estado de las
              incidencias</h3>
          </div>
          <div class="p-4">
            <!-- Verifica si hay reportes -->
            <ng-container *ngIf="incidencesSend && incidencesSend.length > 0; else noIncidencias">
              <table class="table-auto w-full">
                <thead>
                  <tr>
                    <th class="px-4 py-2">ID</th>
                    <th class="px-4 py-2">Fecha</th>
                    <th class="px-4 py-2">Estado</th>
                    <th class="px-4 py-2">Tipo</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Itera sobre los reportes y muestra los campos en la tabla -->
                  <tr *ngFor="let incidence of incidencesSend">

                    <td class="border px-4 py-2 text-center">{{ incidence.id }}</td>
                    <td class="border px-4 py-2 text-center">{{ incidence.date }}</td>
                    <td class="border px-4 py-2 text-center">
                      <span class="text-center" [ngClass]="{
                                                'text-blue-600': incidence.state === 'pending',
                                                'text-green-600': incidence.state === 'accepted',
                                                'text-red-600': incidence.state === 'rejected'
                                              }">{{ incidence.state }}</span>
                    </td>
                    <td class="border px-4 py-2 text-center">{{ incidence.type }}</td>

                  </tr>
                </tbody>
              </table>
            </ng-container>
            <!-- Si no hay reportes -->
            <ng-template #noIncidencias>
              <p class="text-gray-600 text-center">No hay incidencias.</p>
            </ng-template>
          </div>
        </div>
      </div>
      <br>
      <!-- Tablas para otros roles que no sean admin -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8"> <!-- tabla 1 -->
        <!-- Tabla 1 -->
        <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm md:col-span-2 lg:col-span-2">
          <div class="bg-blue-50 px-6 py-4">
            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50 text-center">Totales de Materiales por
              Sucursal</h3>
          </div>
          <div class="overflow-x-auto">
            <table class="w-full text-sm text-gray-700 dark:text-gray-400">
              <thead class="bg-blue-100">
                <tr>
                  <th>Sucursal</th>
                  <th *ngFor="let categoria of categories" class="hidden lg:table-cell">{{ categoria.name }}</th>
                  <th>Total</th> <!-- Nueva columna para mostrar el total de materiales -->
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let sucursal of totales | keyvalue">
                  <tr class="odd:bg-blue-50 even:bg-blue-200">
                    <td class="px-6 py-4 whitespace-nowrap text-center">{{ sucursal.key }}</td>
                    <td *ngFor="let categoria of categories" class="px-6 py-4 text-center hidden lg:table-cell">
                      {{ sucursal.value[categoria.name] || 0 }}
                    </td>
                    <td class="px-6 py-4 text-center"> <!-- Celda para mostrar el total -->
                      {{ calcularTotalSucursal(sucursal.value) }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Tabla 2  -->
        <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm md:col-span-1 lg:col-span-1">
          <div class="bg-blue-50 px-6 py-4">
            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50 text-center">Cantidad de Empleados por
              Sucursal</h3>
          </div>
          <div class="overflow-x-auto">
            <table class="w-full text-sm text-gray-700 dark:text-gray-400">
              <thead class="bg-blue-100 hidden md:table-header-group">
                <tr>
                  <th>Sucursal</th>
                  <th>Total de Empleados</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of empleadosPorSucursal">
                  <tr class="odd:bg-blue-50 even:bg-blue-200">
                    <td class="px-6 py-4 whitespace-nowrap text-center">{{ data.name }}</td>
                    <td class="px-6 py-4 text-center">{{ data.employee_count }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="userRole === '3'" class="mb-4">
      <div class="flex justify-center mt-8" *ngIf="loggedInUser">
        <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm w-full md:w-1/2">
          <div class="bg-blue-50 px-6 py-4">
            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50 text-center">Información
              del Empleado</h3>
          </div>
          <div class="p-4">
            <p><strong>Nombre:</strong> {{ loggedInUser.name }}</p>
            <p><strong>Apellido:</strong> {{ loggedInUser.last_name }}</p>
            <p><strong>Email:</strong> {{ loggedInUser.email }}</p>
            <p><strong>Número de teléfono:</strong> {{ loggedInUser.phone_number }}</p>
          </div>
        </div>
      </div>
      <br>
      <!-- Tablas para otros roles que no sean admin -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8"> <!-- tabla 1 -->
        <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm md:col-span-2 lg:col-span-2">
          <div class="bg-blue-50 px-6 py-4">
            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50 text-center">Totales de Materiales por
              Sucursal</h3>
          </div>
          <div class="overflow-x-auto">
            <table class="w-full text-sm text-gray-700 dark:text-gray-400">
              <thead class="bg-blue-100">
                <tr>
                  <th>Sucursal</th>
                  <th *ngFor="let categoria of categories" class="hidden lg:table-cell">{{ categoria.name }}</th>
                  <th>Total</th> <!-- Nueva columna para mostrar el total de materiales -->
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let sucursal of totales | keyvalue">
                  <tr class="odd:bg-blue-50 even:bg-blue-200">
                    <td class="px-6 py-4 whitespace-nowrap text-center">{{ sucursal.key }}</td>
                    <td *ngFor="let categoria of categories" class="px-6 py-4 text-center hidden lg:table-cell">
                      {{ sucursal.value[categoria.name] || 0 }}
                    </td>
                    <td class="px-6 py-4 text-center"> <!-- Celda para mostrar el total -->
                      {{ calcularTotalSucursal(sucursal.value) }}
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Tabla 2  -->
        <div class="overflow-hidden rounded-lg border border-gray-300 shadow-sm md:col-span-1 lg:col-span-1">
          <div class="bg-blue-50 px-6 py-4">
            <h3 class="font-semibold text-base text-gray-900 dark:text-gray-50 text-center">Cantidad de Empleados por
              Sucursal</h3>
          </div>
          <div class="overflow-x-auto">
            <table class="w-full text-sm text-gray-700 dark:text-gray-400">
              <thead class="bg-blue-100 hidden md:table-header-group">
                <tr>
                  <th>Sucursal</th>
                  <th>Total de Empleados</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of empleadosPorSucursal">
                  <tr class="odd:bg-blue-50 even:bg-blue-200">
                    <td class="px-6 py-4 whitespace-nowrap text-center">{{ data.name }}</td>
                    <td class="px-6 py-4 text-center">{{ data.employee_count }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>