.box-fl{
  width: calc(100%);
  
}

/* .main_content {
  float: right;
  position: fixed;
  margin-left: 235px;
  padding: 20px;
  text-align: center;
  margin-top: 30px;

}

.reportes_content {
  float: right;
  position: fixed;
  margin-left: 180px;
  padding: 20px;
  text-align: center;
  margin-top: 255px;
}

.sumatorio {
  float: right;
  position: fixed;
  margin-left: 700px;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.datos {
  float: right;
  position: fixed;
  margin-left: 700px;
  padding: 20px;
  text-align: center;
  margin-top: 235px;
}

.baja_datos {
  float: datos;
  position: fixed;
  margin-left: 675px;
  padding: 20px;
  text-align: center;
  margin-top: 410px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .baja_datos {
    grid-template-columns: repeat(2, 1fr);
  }

  .datos {
    grid-template-columns: repeat(2, 1fr);
  }

  .sumatorio {
    grid-template-columns: repeat(2, 1fr);
  }

  .reportes_content {
    grid-template-columns: repeat(2, 1fr);
  }

  .main_content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1080px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .baja_datos {
    grid-template-columns: repeat(2, 1fr);
  }

  .datos {
    grid-template-columns: repeat(2, 1fr);
  }

  .sumatorio {
    grid-template-columns: repeat(2, 1fr);
  }

  .reportes_content {
    grid-template-columns: repeat(2, 1fr);
  }

  .main_content {
    grid-template-columns: repeat(2, 1fr);
  }
} 


@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .baja_datos {
    grid-template-columns: repeat(2, 1fr);
  }

  .datos {
    grid-template-columns: repeat(2, 1fr);
  }

  .sumatorio {
    grid-template-columns: repeat(2, 1fr);
  }

  .reportes_content {
    grid-template-columns: repeat(2, 1fr);
  }

  .main_content {
    grid-template-columns: repeat(2, 1fr);
  }
} */