<div class="bg-white p-6 rounded shadow" *ngIf="categoryDetails">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">Detalles del Material</h1>
        <!-- Botones para editar, eliminar y volver -->
        <div class="space-x-4">
            <button class="bg-white-500 hover:bg-white hover:text-blue-500 font-bold py-2 px-4 rounded border border-blue-500">
                Editar
            </button>
            <button class="bg-white-500 hover:bg-white hover:text-red-500 font-bold py-2 px-4 rounded border border-red-500">
                Eliminar
            </button>
            <button class="bg-white-500 hover:bg-white hover:text-gray-500 font-bold py-2 px-4 rounded border border-gray-500">
                Volver
            </button>
        </div>
    </div>
    <!-- Tabla para mostrar los detalles específicos del empleado -->
    <table class="table-auto w-full">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Sucursal
                </th>
                <th scope="col" class="px-6 py-3">
                    Departamento
                </th>
                <th scope="col" class="px-6 py-3">
                    Empleado
                </th>
            </tr>
        </thead>
        <tbody>
            <td>

            </td>
            <td>
        </tbody>
    </table>
</div>
