<div class="login-wrap cover">
  <div class="container-login">
      <p class="text-center" style="font-size: 80px;">
          <img src="../../../assets/img/logo_png.png" alt="Logo" style="width: 100px; height: 100px;">
      </p>
      <p class="text-center text-condensedLight">Change Password</p>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
        <div class="mdl-textfield mdl-js-textfield custom-textfield ">
            <label for="email">Email</label>
          <input class="mdl-textfield__input" type="text" id="email" formControlName="email">
          
          <!-- Control de errores -->
          <div *ngIf="resetPasswordForm.get('email')?.errors?.['required'] && resetPasswordForm.get('email')?.touched"
              class="error_form mensaje_error">
              This field cannot be empty.
          </div>
          <div *ngIf="resetPasswordForm.get('email')?.errors?.['pattern'] && resetPasswordForm.get('email')?.touched" class="error_form mensaje_error">
              Invalid format.
          </div>
        </div>
        <div class="mdl-textfield mdl-js-textfield custom-textfield">
            <label  for="newPassword">New Password</label>
              <input class="mdl-textfield__input" type="password" id="newPassword" formControlName="newPassword">
              
              <!-- Control de errores -->
              <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required'] && resetPasswordForm.get('newPassword')?.touched"
                  class="error_form mensaje_error">
                  This field cannot be empty.
              </div>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="confirmPassword" formControlName="confirmPassword">
              <label class="mdl-textfield__label" for="confirmPassword">Confirm Password</label>
              <!-- Control de errores -->
              <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required'] && resetPasswordForm.get('confirmPassword')?.touched"
                  class="error_form mensaje_error">
                  This field cannot be empty.
              </div>
              <div *ngIf="passwordsMatchError" class="error_form mensaje_error">
                  Passwords do not match.
              </div>
          </div>
          <br>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Change Password
          </button>
          <!-- Mensajes de error específicos de la API -->
          <div *ngIf="errorMessage" class="mensaje_error">{{ errorMessage }}</div>
      </form>
  </div>
</div>

