<div class="login-wrap cover">
    <div class="container-login">
        <p class="text-center" style="font-size: 80px;">
            <img src="../../../assets/img/logo_png.png" alt="Logo" style="width: 100px; height: 100px;">
        </p>
        <p class="text-center text-condensedLight">Sign in with your Account</p>
        <form [formGroup]="loginForm" (ngSubmit)="enviarLogin()">
            <div class="mdl-textfield mdl-js-textfield custom-textfield">
                <label for="email">Email</label>
                <input class="mdl-textfield__input" type="text" id="email" formControlName="email">
                
                <!-- Control de errores -->
                <div *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched"
                    class="text-red-600">
                    This field cannot be empty.
                </div>
                <div *ngIf="loginForm.get('email')?.errors?.['pattern'] && loginForm.get('email')?.touched" class="text-red-600">
                    Invalid format.
                </div>
            </div>
            <div class="mdl-textfield mdl-js-textfield custom-textfield">
                <label for="pass">Password</label>
                <input class="mdl-textfield__input" type="password" id="pass" formControlName="password">
                
                <!-- Control de errores -->
                <div *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
                    class="text-red-600">
                    This field cannot be empty.
                </div>
            </div>
            <div class="text-left">
                <a routerLink="/forgot_password" style="text-decoration: none; font-size: 12px;">
                    Forgot Password?</a>
            </div>
            <br>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                SIGN IN
            </button>
            <!-- Mensajes de error específicos de la API -->
            <div *ngIf="errorMessage" class="mensaje_error">{{ errorMessage }}</div>
        </form>
    </div>
</div>