<div class="">
    <div class="flex flex-col" [style.marginLeft.px]="sidebarVisible ? 0 : 64"> <!-- Ajusta el margen izquierdo -->
        <app-sidebar *ngIf="sidebarVisible"></app-sidebar>
    </div>
    <div class="justify-center lg:mt-24 lg:ml-80 lg:mr-12 box-fl container">
        <!-- Contenido de la vista de detalles del empleado -->
        <div class="bg-white p-6 rounded shadow" *ngIf="employeeDetails">
            <div class="flex justify-between items-center mb-4">
                <h1 class="text-2xl font-bold">Detalles del Empleado</h1>
                <!-- Botones para editar, eliminar y volver -->
                <div class="space-x-4">
                    <button (click)="mostrarModal()" class="bg-white-500 hover:bg-white hover:text-blue-500 font-bold py-2 px-4 rounded border border-blue-500">
                        Editar
                    </button>
                    <button (click)="confirmDelete(employeeDetails)" class="bg-white-500 hover:bg-white hover:text-red-500 font-bold py-2 px-4 rounded border border-red-500">
                        Eliminar
                    </button>
                    <button (click)="volver()" class="bg-white-500 hover:bg-white hover:text-gray-500 font-bold py-2 px-4 rounded border border-gray-500">
                        Volver
                    </button>
                </div>
            </div>
            <!-- Tabla para mostrar los detalles específicos del empleado -->
            <table class="table-auto w-full">
                <tbody>
                    <tr>
                        <td class="py-2"><strong>Nombre:</strong></td>
                        <td class="py-2">{{ employeeDetails?.name }}</td>
                    </tr>
                    <tr>
                        <td class="py-2"><strong>Apellido:</strong></td>
                        <td class="py-2">{{ employeeDetails?.last_name }}</td>
                    </tr>
                    <tr>
                        <td class="py-2"><strong>Email:</strong></td>
                        <td class="py-2">{{ employeeDetails?.email }}</td>
                    </tr>
                    <tr>
                        <td class="py-2"><strong>Teléfono Móvil:</strong></td>
                        <td class="py-2">{{ employeeDetails?.phone_number }}</td>
                    </tr>
                    <tr>
                        <td class="py-2"><strong>Departamento:</strong></td>
                        <td class="py-2">{{ employeeDetails?.department }}</td>
                    </tr>
                    <tr>
                        <td class="py-2"><strong>Rol:</strong></td>
                        <td class="py-2">{{ employeeDetails?.role?.charAt(0).toUpperCase() + employeeDetails?.role?.slice(1) }}</td>
                    </tr>
                    <tr>
                        <td class="py-2"><strong>Sucursal:</strong></td>
                        <td class="py-2">{{ employeeDetails?.branch_office }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- Tabla para mostrar los materiales asignados al empleado -->
        <div class="bg-white p-6 rounded shadow" *ngIf="employeeDetails">
            <h2 class="text-2xl font-bold my-4">Materiales Asignados</h2>
            <div class="grid grid-cols-3 gap-4">
                <!-- Iterar sobre las categorías y sus materiales asignados -->
                <ng-container *ngFor="let material of employeeDetails.materials">
                    <div class="bg-white p-4 rounded shadow">
                        <p><strong>Categoría:</strong> {{ material.category_name }}</p>
                        <p><strong>Material:</strong> {{ material.material_name ? material.material_name : 'Material no asignado' }}</p>
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="mostrarModalEditar" class="fixed z-10 inset-0 overflow-y-auto">
            <div class="flex items-center justify-center min-h-screen px-4">
                <!-- Contenido del modal -->
                <div class="bg-white rounded-lg overflow-hidden shadow-xl sm:max-w-lg sm:w-full">
                    <!-- Encabezado del modal -->
                    <div class="px-4 py-2 bg-gray-200">
                        <h3 class="text-lg font-bold">Editar Empleado</h3>
                    </div>
                    <!-- Cuerpo del modal (aquí va el formulario) -->
                    <div class="p-4">
                        <!-- Formulario aquí -->
                        <form [formGroup]="formularioEmpleado" (submit)="editarEmpleado()">
                            <div class="mb-4">
                                <label for="nombre" class="block text-gray-700">Nombre</label>
                                <input formControlName="nombre" type="text" id="nombre" name="nombre" class="form-input mt-1 block w-full" placeholder="Ingrese el nombre" required>
                            </div>
                            <div class="mb-4">
                                <label for="apellido" class="block text-gray-700">Apellido</label>
                                <input formControlName="apellido" type="text" id="apellido" name="apellido" class="form-input mt-1 block w-full" placeholder="Ingrese el apellido" required>
                            </div>
                            <div class="mb-4">
                                <label for="email" class="block text-gray-700">Email</label>
                                <input formControlName="email" type="email" id="email" name="email" class="form-input mt-1 block w-full" placeholder="Ingrese el correo electrónico" required>
                            </div>
                            <div class="mb-4">
                                <label for="telefonoMovil" class="block text-gray-700">Teléfono Móvil</label>
                                <input formControlName="telefonoMovil" type="tel" id="telefonoMovil" name="telefonoMovil" class="form-input mt-1 block w-full" placeholder="Ingrese el teléfono móvil">
                            </div>
                            <div class="mb-4">
                                <label for="departamento" class="block text-gray-700">Departamento</label>
                                <select formControlName="departamento" id="departamento" name="departamento" class="form-select mt-1 block w-full" required>
                                    <option [ngValue]="employeeDetails.department">{{ employeeDetails.department }}</option>
                                    <ng-container *ngFor="let dept of departamentos">
                                        <option *ngIf="dept.name !== employeeDetails.department" [value]="dept.id">{{ dept.name }}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="sucursal" class="block text-gray-700">Sucursal</label>
                                <select formControlName="sucursal" id="sucursal" name="sucursal" class="form-select mt-1 block w-full" required>
                                    <option [ngValue]="employeeDetails.branch_office">{{ employeeDetails.branch_office }}</option>
                                    <ng-container *ngFor="let suc of sucursales">
                                        <option *ngIf="suc.name !== employeeDetails.branch_office" [value]="suc.id">{{ suc.name }}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="rol" class="block text-gray-700">Rol</label>
                                <select formControlName="rol" id="rol" name="rol" class="form-select mt-1 block w-full" required>
                                    <option [ngValue]="employeeDetails.role">{{ employeeDetails.role }}</option>
                                    <ng-container *ngFor="let rol of roles">
                                        <option *ngIf="rol.name !== employeeDetails.role" [value]="rol.id">{{ rol.name }}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <!-- Botones -->
                            <div class="flex justify-end">
                                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2">Guardar Cambios</button>
                                <button (click)="cerrarModal()" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>