<div class="flex">
  <app-sidebar></app-sidebar>
  <div
    class="justify-center lg:mt-24 lg:ml-80 lg:mr-12 md:mt-24 md:ml-12 md:mr-12 sm:mt-24 sm:ml-12 sm:mr-12 mt-24 ml-12 mr-12 box-fl container">
    <div class="fixed top-0 left-0 w-full h-full flex justify-center items-center" *ngIf="cargaDatos">
      <div role="status" class="flex flex-col items-center">
        <span class="font-bold mt-2">Cargando..</span>
      </div>
    </div>
    <!-- Contenido de la vista de detalles del empleado -->
    <div class="bg-white p-6 rounded shadow" *ngIf="employeeDetails">
      <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">Detalles del Empleado</h1>
        <!-- Botones para editar, eliminar y volver -->
        <div class="space-x-4">
          <button (click)="mostrarModal()"
            class="bg-white-500 hover:bg-white hover:text-blue-500 font-bold py-2 lg:px-4 md:px-2 rounded border border-blue-500 md:ml-2"
            *ngIf="userRole === '1'">
            Editar
          </button>
          <button
            (click)="confirmDelete(employeeDetails[0].id, employeeDetails[0].name + ' ' + employeeDetails[0].last_name)"
            class="bg-white-500 hover:bg-white hover:text-red-500 font-bold py-2 lg:px-4 md:px-2 rounded border border-red-500"
            *ngIf="userRole === '1'">
            Eliminar
          </button>
          <button (click)="volver()"
            class="bg-white-500 hover:bg-white hover:text-gray-500 font-bold py-2 lg:px-4 md:px-2 md:mt-2 rounded border border-gray-500">
            Volver
          </button>
          <button (click)="downloadCsv()"
            class="hover:bg-green hover:text-green-500 font-bold py-2 lg:px-4 md:px-2 md:mt-2  rounded border border-green-500">
            Descargar CSV
          </button>
        </div>
      </div>
      <!-- Tabla para mostrar los detalles específicos del empleado -->
      <table class="table-auto w-full">
        <tbody>
          <tr>
            <td class="py-2"><strong>Nombre:</strong></td>
            <td class="py-2">{{ employeeDetails[0].name }}</td>
          </tr>
          <tr>
            <td class="py-2"><strong>Apellido:</strong></td>
            <td class="py-2">{{ employeeDetails[0].last_name }}</td>
          </tr>
          <tr>
            <td class="py-2"><strong>Email:</strong></td>
            <td class="py-2">{{ employeeDetails[0].email }}</td>
          </tr>
          <tr>
            <td class="py-2"><strong>Teléfono Móvil:</strong></td>
            <td class="py-2">{{ employeeDetails[0].phone_number }}</td>
          </tr>
          <tr>
            <td class="py-2"><strong>Departamento:</strong></td>
            <td class="py-2">{{ employeeDetails[0].department?.name }}</td>
          </tr>
          <tr>
            <td class="py-2"><strong>Rol:</strong></td>
            <td class="py-2">{{ employeeDetails[0].role?.name }}</td>
          </tr>
          <tr>
            <td class="py-2"><strong>Sucursal:</strong></td>
            <td class="py-2">{{ employeeDetails[0].branch_office?.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="bg-white p-6 rounded shadow" *ngIf="employeeMaterial">
      <h2 class="text-2xl font-bold my-4">Materiales Asignados</h2>
      <div *ngIf="employeeMaterial" class="grid grid-cols-3 gap-4">
        <ng-container *ngFor="let material of employeeMaterial">
          <div class="bg-white p-4 rounded shadow col-span-1">
            <p><strong>Categoria:</strong> {{ material.category[0].name }}</p>
            <p><strong>Material:</strong> {{ material.name }}</p>
            <button (click)="desasignarMaterial(employeeDetails[0].id, material.id)"
              class="bg-white hover:bg-red-200 text-red-500 py-1 px-3 rounded border mt-2" *ngIf="userRole === '1'">
              Desasignar
            </button>
          </div>
        </ng-container>
      </div>
      <div *ngIf="employeeMaterial.length === 0">
        <p>No hay materiales asignados.</p>
      </div>
    </div>

    <div *ngIf="mostrarModalEditar" class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-center justify-center min-h-screen px-4">
        <div class="bg-white rounded-lg overflow-hidden shadow-xl sm:max-w-lg sm:w-full">
          <div class="px-4 py-2 bg-gray-200">
            <h3 class="text-lg font-bold">Editar Empleado</h3>
          </div>
          <div class="p-4">
            <form [formGroup]="formularioEmpleado" (submit)="editarEmpleado()">
              <div class="mb-4">
                <label for="nombre" class="block text-gray-700">Nombre</label>
                <input formControlName="name" type="text" id="nombre" name="nombre" class="form-input mt-1 block w-full"
                  placeholder="Ingrese el nombre" required>
                <div
                  *ngIf="formularioEmpleado.get('name')?.errors?.['required'] && formularioEmpleado.get('name')?.touched"
                  class="text-red-800">
                  This field cannot be empty.
                </div>
                <div
                  *ngIf="formularioEmpleado.get('name')?.errors?.['minlength'] && formularioEmpleado.get('name')?.touched"
                  class="text-red-800">
                  The name must be at least 3 characters.
                </div>
                <div
                  *ngIf="formularioEmpleado.get('name')?.errors?.['maxlength'] && formularioEmpleado.get('name')?.touched"
                  class="text-red-800">
                  The name cannot be more than 30 characters.
                </div>
                <div
                  *ngIf="formularioEmpleado.get('name')?.errors?.['pattern'] && formularioEmpleado.get('name')?.touched"
                  class="text-red-800">
                  The name can only contain letters.
                </div>
              </div>
              <div class="mb-4">
                <label for="apellido" class="block text-gray-700">Apellido</label>
                <input formControlName="last_name" type="text" id="apellido" name="apellido"
                  class="form-input mt-1 block w-full" placeholder="Ingrese el apellido" required>
                <div
                  *ngIf="formularioEmpleado.get('last_name')?.errors?.['required'] && formularioEmpleado.get('last_name')?.touched"
                  class="text-red-800">
                  This field cannot be empty.
                </div>
                <div
                  *ngIf="formularioEmpleado.get('last_name')?.errors?.['minlength'] && formularioEmpleado.get('last_name')?.touched"
                  class="text-red-800">
                  The last name must be at least 3 characters.
                </div>
                <div
                  *ngIf="formularioEmpleado.get('last_name')?.errors?.['maxlength'] && formularioEmpleado.get('last_name')?.touched"
                  class="text-red-800">
                  The last name cannot be more than 30 characters.
                </div>
                <div
                  *ngIf="formularioEmpleado.get('last_name')?.errors?.['pattern'] && formularioEmpleado.get('last_name')?.touched"
                  class="text-red-800">
                  The last name can only contain letters.
                </div>
              </div>
              <div class="mb-4">
                <label for="email" class="block text-gray-700">Email</label>
                <input formControlName="email" type="email" id="email" name="email" class="form-input mt-1 block w-full"
                  placeholder="Ingrese el correo electrónico" required>
                <div
                  *ngIf="formularioEmpleado.get('email')?.errors?.['required'] && formularioEmpleado.get('email')?.touched"
                  class="text-red-800">
                  This field cannot be empty.
                </div>
                <div
                  *ngIf="formularioEmpleado.get('email')?.errors?.['pattern'] && formularioEmpleado.get('email')?.touched"
                  class="text-red-800">
                  Invalid email format.
                </div>
              </div>
              <div class="mb-4">
                <label for="telefonoMovil" class="block text-gray-700">Teléfono Móvil</label>
                <input formControlName="phone_number" type="tel" id="telefonoMovil" name="telefonoMovil"
                  class="form-input mt-1 block w-full" placeholder="Ingrese el teléfono móvil">
                <div
                  *ngIf="formularioEmpleado.get('phone_number')?.errors?.['required'] && formularioEmpleado.get('phone_number')?.touched"
                  class="text-red-800">
                  This field cannot be empty.
                </div>
                <div
                  *ngIf="formularioEmpleado.get('phone_number')?.errors?.['pattern'] && formularioEmpleado.get('phone_number')?.touched"
                  class="text-red-800">
                  Only numbers are allowed.
                </div>
              </div>

              <div class="mb-4">
                <label for="departamento" class="block text-gray-700">Departamento</label>
                <select formControlName="department_id" id="departamento" name="departamento"
                  class="form-select mt-1 block w-full" required>
                  <ng-container *ngFor="let dept of departamentos">
                    <option [value]="dept.id" [selected]="dept.name === employeeDetails[0].department?.name">
                      {{ dept.name }}</option>
                  </ng-container>
                </select>
                <div
                  *ngIf="formularioEmpleado.get('department_id')?.errors?.['required'] && formularioEmpleado.get('department_id')?.touched"
                  class="text-red-800">
                  Please select a department.
                </div>
              </div>

              <div class="mb-4">
                <label for="sucursal" class="block text-gray-700">Sucursal</label>
                <select formControlName="branch_office_id" id="sucursal" name="sucursal"
                  class="form-select mt-1 block w-full" required>
                  <ng-container *ngFor="let suc of sucursales">
                    <option [value]="suc.id" [selected]="suc.name === employeeDetails[0].branch_office?.name">
                      {{ suc.name }}</option>
                  </ng-container>
                </select>
                <div
                  *ngIf="formularioEmpleado.get('branch_office_id')?.errors?.['required'] && formularioEmpleado.get('branch_office_id')?.touched"
                  class="text-red-800">
                  Please select a branch office.
                </div>
              </div>

              <div class="mb-4">
                <label for="rol" class="block text-gray-700">Rol</label>
                <select formControlName="role_id" id="rol" name="rol" class="form-select mt-1 block w-full" required>
                  <ng-container *ngFor="let rol of roles">
                    <option [value]="rol.id" [selected]="rol.name === employeeDetails[0].role?.name">
                      {{ rol.name }}</option>
                  </ng-container>
                </select>
                <div
                  *ngIf="formularioEmpleado.get('role_id')?.errors?.['required'] && formularioEmpleado.get('role_id')?.touched"
                  class="text-red-800">
                  Please select a role.
                </div>
              </div>
              <div class="flex justify-end">
                <button type="submit"
                  class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2">Guardar
                  Cambios</button>
                <button (click)="cerrarModal()"
                  class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Cancelar</button>
              </div>
              <div *ngIf="errorMessage2" class="text-red-800 fade-in-out">{{ errorMessage2 }}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="successMessage" class="text-green-800 fade-in-out">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="text-red-800 fade-in-out">{{ errorMessage }}</div>
  </div>
</div>
