<div class="login-wrap cover">
    <div class="container-login">
        <p class="text-center" style="font-size: 80px;">
            <img src="../../../assets/img/logo_png.png" alt="Logo" style="width: 100px; height: 100px;">
        </p>
        <p class="text-center text-condensedLight">Reset Your Password</p>
        <form [formGroup]="changePasswordForm" (ngSubmit)="submitResetPassword()">
            <div class="mdl-textfield mdl-js-textfield custom-textfield">
                <label for="email">Email</label>
                <input class="mdl-textfield__input" type="email" id="email" formControlName="email">

                <!-- Error handling -->
                <div *ngIf="changePasswordForm.get('email')?.errors?.['required'] && changePasswordForm.get('email')?.touched"
                    class="text-red-800">
                    This field cannot be empty.
                </div>
                <div *ngIf="changePasswordForm.get('email')?.errors?.['pattern'] && changePasswordForm.get('email')?.touched"
                    class="text-red-800">
                    Invalid email format.
                </div>
            </div>
            <br>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" [disabled]="successMessage !== null">
                Submit Email
            </button>
            <!-- API-specific error messages -->
            <div *ngIf="errorMessage" class="text-red-800">{{ errorMessage }}</div>
            <div *ngIf="successMessage" class="text-green-800">{{ successMessage }}</div>
        </form>
    </div>
</div>
